:root{
    --font: 32px;
    --backdrop: #010a28;
    --topmargin: 182px;
    background-color: var(--backdrop);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    position: absolute;
    top: var(--topmargin);  
    left: 150px;
    width: 640px;
    display: flex;
    flex-direction: column;
}
#bluebar{
    background-color: rgb(12, 12, 171);
    font-size: 24px;
}
#orderlist{
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: white;
    color: black;
}
order {
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}
order.correct{
    background-color: lightgreen;
    opacity: 50%;
}
order.wrong{
    background-color: rgb(255, 76, 76);
    opacity: 50%;
}

#main{
    position: absolute;
    bottom: 70px;
    left: 150px;
    display: flex;
    gap: 5px;
}
#left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    justify-content: space-evenly;
    border: solid 3px black;
}
.leftboxes{
    border-radius: 5px;
    box-shadow: inset -4px 4px 2px #ffffff3c, inset 4px -4px 2px black;
    flex-grow: 1;
}
    #textbox{
        position: relative;
        width: 85%;
        top: 45%;
        font-size: 22px;

        border: 3px solid #000000;
        background-color: rgb(224, 233, 230);
    }

#numpad{
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-auto-rows: 50px;
    gap: 8px;
    text-align: center;
}

#clear{
    grid-column: span 2;
    font-size: var(--font);
    background-color: rgb(187, 27, 3);
    color: black;
}
#qty{
    font-size: calc(0.8*var(--font));
    padding-left: 8px;
    background-color: #00d5e4;
    color: black;
}
#enter{
    grid-column: span 2;
    font-size: calc(1*var(--font));
    background-color: #fff200;
    color: black;
}
.numpad_keys{
    grid-column:span 1;
    grid-row: span 1;
    justify-content: center;
    padding: calc(0.5*var(--font));
    padding-top: calc(0.2*var(--font));
    padding-bottom: calc(0.2*var(--font));

    
    font-size: var(--font);
    font-weight: 600;
    
    border-radius: 5px;
    box-shadow: inset -4px 4px 2px #ffffff3c, inset 4px -4px 1px black;
    background-color: #0c3a9d;
    color: white;
}

#rightside{
    position: absolute;
    right: 360px;
    top: var(--topmargin);
}
#righttop{
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-auto-rows: 60px;
    gap: 5px
}
.righttop-square{
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 5px;
    box-shadow: inset -4px 4px 2px #ffffff3c, inset 4px -4px 1px black;

    color: black;
    font-size: calc(0.4*var(--font));
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

#rightbot{
    position: relative;
    display: grid;
    top: 5px;
    grid-template-columns: repeat(4, 76px);
    grid-auto-rows: 64px;
    gap: 5px
}
.rightbot-square{
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 5px;
    background-color: #0c3a9d;
    box-shadow: inset -4px 4px 2px #ffffff3c, inset 4px -4px 1px black;
}

#total{
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 5px;
    background-color: #e2d70b;
    box-shadow: inset -4px 4px 2px #ffffff3c, inset 4px -4px 1px black;

    font-size:20px;
    padding-top:50px;
    text-align: center;
    font-weight: 700;
    background-color: rgb(255, 242, 0);
    color: black;
}
